# Mac OSX Annoyance
.DS_Store

# Compiled files
bin/

# Serialized nets
nets/*.net

# Eclipse stuff
forge/eclipse/.metadata/
forge/eclipse/saves/
forge/eclipse/logs/
forge/eclipse/crash-reports

# IDEA stuff
forge/forge.iws