# Mac OSX Annoyance
.DS_Store

# Compiled files
bin/

# Logs and Serialized Data
runs/

# Node stuff
node_modules/

# Server and visualizer stuff
user-interface/server/img/

# Server log
user-interface/server/full.log
