#content {
  #runs-table-container {
    float: left;

    #run-label,
    .run {
      cursor: pointer;

      .label {
        width: 200px;
        text-align: right;
      }

      &:nth-child(odd) {
        background-color: #F2F2F2;
      }

      &.selected {
        background-color: #00DD00;
      }
      
      & > span {
        display: inline-block;
        width: 50px;
        text-align: center;
      }
    }

    #run-label {
      font-weight: bold;
    }
  }

  #go {
    cursor: pointer;

    clear: left;

    background-color: #00AE31;
    padding: 5px;

    width: 200px;
    text-align: center;
    margin: 0 auto;
  }

  #plot {
    display: block;
    float: right;
  }
}