@label-width: 200px;
@column-width: 40px;

form {
  margin: 0;
}

#content {
  #input-area {
    clear: left;

    #new-plot {
      float: right;
      #plot-it {
      }
    }
  }

  #runs-table-container {
    clear: left;
    float: left;

    #new-run {
      input {
        width: @column-width - 5px;
        margin-right: 5px;

        &#label {
          width: @label-width;
        }
      }

      #run-new {
        position: absolute;
        // display: inline-block;
        // background-color: #5691ED;
      }
    }

    #run-label,
    .run {
      cursor: pointer;

      .label {
        width: @label-width;
        text-align: right;
      }

      &:nth-child(odd) {
        background-color: #F2F2F2;
      }

      &.selected {
        background-color: #00DD00;
      }
      
      & > span {
        display: inline-block;
        width: @column-width;
        text-align: center;
      }
    }

    #run-label {
      font-weight: bold;
    }
  }

  #plot-container {
    float: right;
    
    #plot {
    }
  }
}