.option {
    float: left;
    // clear: left;

    padding: 20px;
    border: 1px solid #E2E2E2;

    background-color: #F9F9F9;

    cursor: pointer;

    &.selected {
        background-color: #1EE21E;
    }
}

#go {
    cursor: pointer;

    float: left;
    clear: left;

    background-color: gray;
    padding: 5px;
}